@model ItemEditViewModel

<h2>Work please</h2>

<form method="post">
    <input type="hidden"  asp-for="Item.ItemId"/>
    <div class="form-group">
        <label asp-for="Item.Name"></label>
        <input asp-for="Item.Name" class="form-control"/>
        <span class="text-danger" asp-validation-for="Item.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Item.Description"></label>
        <input asp-for="Item.Description" class="form-control"/>
        <span class="text-danger" asp-validation-for="Item.Description"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Item.DueDate"></label>
        <input asp-for="Item.DueDate" asp-format="{0:dd/MM/yyyy}" class="form-control"/>
        <span class="text-danger" asp-validation-for="Item.DueDate"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>